pre {
  position: relative;
  white-space: pre-wrap;
}

button {
  font-family: Inter, sans-serif;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  background-color: #ffffff;
  color: 11ee1e;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #71b7f0;
}
